.neighbourhoodContainer {
  width: 24rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  direction: ltr;
  padding-right: 0.3rem;
}
.container {
  padding: 3.5rem 1rem 5.8rem 0;
  flex-direction: column;
}
.neighbourhood {
  background-color: whitesmoke;
  width: 22rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.7rem 0.7rem 0.7rem 0rem;
}
::-webkit-scrollbar {
  width: 1.2rem;
}
::-webkit-scrollbar-thumb {
  background: #f19c79;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}
.searchInput {
  border: none;
  width: 17rem;
  height: 2.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}
.searchInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
