.container {
  padding-top: 0.5rem;
}
.moveToHeader {
  background-color: #ebf6ff;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  justify-content: space-between;
}
.moveToHeaderText {
  font-weight: bold;
  padding-right: 1rem;
}
.sendHome {
  background-color: #c2e4ff;
  border-radius: 0.3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding: 0 0.3rem;
  cursor: pointer;
}
.sendHomeContainer {
  padding-left: 1rem;
}
.instituteContainer {
  height: 48vh;
  overflow-y: auto;
  direction: ltr;
  gap: 1rem;
  padding: {
    top: 0.6rem;
    right: 1rem;
    left: 1rem;
  }
  background-color: #d3d3d3;
}
.schoolContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.6rem;
}
.school {
  background-color: whitesmoke;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  cursor: pointer;
}
.distance {
  font-size: 0.8rem;
  direction: rtl;
  opacity: 0.7;
}
.moveToContainer {
  background-color: rgb(161, 214, 255);
  width: 100%;
  box-sizing: border-box;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.moveToInput {
  display: flex;
  direction: rtl;
  width: 7rem;
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 7rem;
  background-color: whitesmoke;
}

.send {
  background-color: #c2e4ff;
  border-radius: 0.3rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
}
