.container {
  height: 100%;
  width: 20vw;
  background-color: rgb(161, 214, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 1rem;
  padding: {
    // block: 1rem;
    inline: 1rem;
  }
}
.currentText {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  font-size: 2.2rem;
  font-weight: bold;
  background-color: #ebf6ff;
  margin-top: 1rem;
  padding: {
    block: 1rem;
  }
  h5 {
    margin: 0;
  }
}
.selection {
  display: flex;
  flex-direction: column;
  background-color: #c2e4ff;
  display: flex;
  overflow-y: auto;
  width: 100%;
  font-weight: bold;
  border-radius: 0.3rem;
}

.btn {
  padding: {
    block: 0.5rem;
  }
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: none;
  font-weight: bold;
  background-color: #ebf6ff;
}

.active {
  background-color: #c2e4ff;
}
.navBtns {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: #c2e4ff;
  height: 100%;
}

@media (max-width: 1200px) {
  .container {
    width: 40vw;
  }
}
