.container {
  flex-direction: column;
  padding: {
    block: 1rem;
    inline: 1rem;
  }
}

.instituteContainer {
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  direction: ltr;
  gap: 1rem;
  padding: {
    right: 1rem;
  }
}

.neighbourhood {
  background-color: whitesmoke;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  span {
    padding: {
      block: 0.7rem;
      right: 0.7rem;
    }
  }
}

.searchInput {
  border: none;
  width: 100%;
  height: 2.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}
.searchInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.instituteRed {
  background-color: #e76f51;
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}
.instituteOrange {
  background-color: #f4a261;
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}
.instituteYellow {
  background-color: #e9c46a;
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}
