.buttonPlacing {
  position: absolute;
  top: 90%;
  left: 4%;
  z-index: 3;
}

.buttonStyle {
  margin-right: 5rem;
  background-color: orange !important;
}

$light: #ffd7ba;
$lighter: #ffe5d9;
$base: #fec89a;

.container {
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 80%;
  background-color: $lighter;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;

  header {
    display: flex;
    align-items: center;
    padding: {
      inline: 1rem;
    }

    h1 {
      margin: 0;
    }
  }

  main {
    height: 100%;
    background-color: $base;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    width: 100%;

    section {
      border-radius: 0.4rem;
      overflow: hidden;
      display: grid;
      grid-template-rows: 1fr 9fr;
      width: 100%;

      header {
        background-color: $lighter;
        font-size: 1.5rem;
        font-weight: bold;
      }
      main {
        overflow-y: auto;
        // height: 55vh;
        padding-bottom: 20rem;
        direction: rtl;
        background-color: $light;
        grid-template-columns: 1fr;
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: {
      inline: 1rem;
    }
  }

  .tablePlan {
    width: 100%;
  }

  .trPlanHeader {
    display: flex;
    width: 100%;
  }

  .plan {
    background-color: $base;
    border-radius: 0.4rem;
    height: 4rem;
    width: 100%;
  }

  .senderStyle {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 5rem;
  }

  .receiverStyle {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .amountStyle {
    display: flex;
    justify-content: center;
    width: 20%;
  }

  .trPlan {
    display: flex;
    width: 100%;
  }
  .saveBtn {
    background-color: orange !important;
  }

  .singleAction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fec89a;
    margin-top: 1rem;
    border-radius: 0.3rem;
    font-size: 1.25rem;
  }

  .singleActionTD {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .planNamesContainer {
    padding-bottom: 0rem;
  }

  .planNames {
    cursor: pointer;
    margin-top: 0.5rem;
  }
}
